html {
  background-size: 50px;
  background-color: #e1e1e1;
  font-family: "Myriad Pro", sans-serif;
}

body {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  padding-top: 150px;
}

body .first-container {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

body .last-container {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.navbar {
  margin-bottom: 50px;
}

.container-fluid {
  background-color: rgba(0, 0, 0, 0.1);
}

.row p {
  display: inline-block;
  vertical-align: middle;
}

.row div {
  text-align: center;
}

.pic-name img {
  display: block;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.pic-name p {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 500;
}

.tier {
  display: flex;
  flex-direction: column;
}

.tier .specialization {
  margin-top: 20px;
  font-weight: 500;
}

.tier .tier-1 {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 25px;
  position: relative;
}

.tier .tier-1:after {
  position: absolute;
  content: ' ';
  display: block;
  height: 50px;
  width: 50px;
  background: url("../assets/images/icon_tier1.svg");
  background-repeat: no-repeat;
  background-size: 35px;
  top: 30px;
  left: 30%;
}

.tier .tier-2 {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 25px;
  position: relative;
}

.tier .tier-2:after {
  position: absolute;
  content: ' ';
  display: block;
  height: 50px;
  width: 60px;
  background: url("../assets/images/icon_tier2.svg");
  background-repeat: repeat-x;
  background-size: 30px;
  top: 32px;
  left: 15%;
}

.rarity {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
}

.rarity .rare {
  color: #0081ff;
}

.rarity .uncommon {
  font-size: 18px;
  color: #1ea00d;
}

.rarity .epic {
  color: #bf07ff;
}

.rarity p {
  margin-top: 5px;
}

.rarity p:first-child {
  margin-top: 40px;
  margin-bottom: 0px;
}

.stats {
  padding-top: 10px;
}

.stats .stat {
  position: relative;
  margin: auto;
  margin-top: 0px;
  width: 70%;
  height: 17px;
  background-color: rgba(102, 135, 143, 0.5);
  cursor: default;
}

.stats .stat-fill {
  padding-left: 3px;
  text-align: left;
  height: 16px;
  background-color: #66878f;
  line-height: 15px;
  font-size: 11px;
  font-weight: 500;
  cursor: pointer;
}

.stats .stat-fill:hover {
  background-color: rgba(102, 135, 143, 0.8);
}

.stats .stat-value {
  z-index: 1000;
  position: absolute;
  right: 3px;
  top: 0px;
  display: inline-block;
  margin-left: auto;
  line-height: 15px;
  font-size: 11px;
  font-weight: 500;
}

.stats div:last-child {
  margin-top: 3px;
}

.perks .perks-container {
  max-width: 200px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.perks .perk-clmn {
  margin: 0px;
  margin-right: 0px;
  width: 50px;
  align-items: center;
}

.perks .perk-wrap {
  width: 35px;
  height: 35px;
  margin-top: 2px;
  padding: 2px 2px;
  background-color: #66878f;
  border-radius: 50%;
}

.perks .perk-wrap:hover {
  background-color: rgba(102, 135, 143, 0.8);
}

.perks .perk {
  width: 30px;
  height: 30px;
}

.perks .5perks {
  width: 260px;
}

.links .description {
  margin-top: 15px;
  line-height: 15px;
  font-size: 12px;
  font-weight: 500;
}

.links a {
  color: #66878f;
  text-decoration: underline;
}
