@import variables.sass
// @import viewports.sass
@import ../sleeper_nodes/sleeper_nodes.sass

//basic setup
html
  //background-image: url('../assets/images/destiny_logo_vector_tint_30.svg')
  background-size: 50px
  background-color: rgba(225, 225, 225, 1)
  font-family: "Myriad Pro", sans-serif

body
  max-width: 1400px
  margin-left: auto
  margin-right: auto
  background-color: rgba(0, 0, 0, 0)
  padding-top: 150px
  .first-container
    border-top-right-radius: 5px
    border-top-left-radius: 5px
  .last-container
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px

h3
  margin-top: 20px

//general view
.navbar
  margin-bottom: 50px

[class*="col-"]
  background-color: rgba(0, 0, 0, 0.1)

.row
  p
    display: inline-block
    vertical-align: middle
  div
    text-align: center

.hidden
  display: none

.show-switch
  position: relative
  height: 20px
  border: 1px solid #66878f
  border-bottom: 0px
  text-transform: uppercase
  font-size: 12px
  font-weight: bold
  span
    position: relative
    .arrow-down
      position: absolute
      top: 5px
      right: -20px
      width: 0
      height: 0
      border-left: 5px solid transparent
      border-right: 5px solid transparent

      border-top: 5px solid $perks
.show-links
  border-bottom: 1px solid #66878f
.box_rotate
  -webkit-transform: rotate(180deg)
  -moz-transform: rotate(180deg)
  -ms-transform: rotate(180deg)
  -o-transform: rotate(180deg)
  transform: rotate(180deg)

.box_transition
  -webkit-transition: all 0.3s ease-out
  -moz-transition: all 0.3s ease-out
  -o-transition: all 0.3s ease-out
  transition: all 0.3s ease-out

.legend
  h3
    margin-top: 10px
    margin-bottom: 10px
  hr
    height: 1px
    color: $perks
    background-color: $perks
  span
    font-weight: bold
  .legend-epic
    color: $epic
  .legend-rare
    color: $rare
  .legend-uncom
    color: $uncommon
  .legend-subtitle
    text-decoration: underline
  [class*='tier']
    display: inline-block
    color: $perks
  .legend-tier1
    padding-right: 31px
    background: url(../assets/images/icon_tier1.svg)
    background-repeat: no-repeat
    background-size: 20px
    background-position: 49px 2px
  .legend-tier2
    padding-right: 36px
    background: url("../assets/images/icon_tier2.svg"), url("../assets/images/icon_tier2.svg")
    background-repeat: no-repeat, no-repeat
    background-size: 15px, 15px
    background-position: 45px 4px, 62px 4px



.gun-search
  padding-left: 40px
.input-wrap
  margin-bottom: 45px
  position: relative
  .form-clear-button
    width: 30px
    height: 30px
    position: absolute
    top: 12px
    left: 9px
    content: ' '
    background-image: url('../assets/images/unchecked.png')
    background-size: 25px
    background-repeat: no-repeat
    pointer-events: all
    cursor: pointer
  .search-display-legend
    position: absolute
    left: 10px
    cursor: pointer
    text-decoration: underline
    font-style: italic


#goToTopBtn
    font-weight: bold
    display: none
    position: fixed
    top: 100px
    right: 30px
    z-index: 99
    border: none
    outline: none
    background-color: $perks
    color: white
    cursor: pointer
    padding: 15px
    border-radius: 15px
    font-size: 18px
    &:hover
      top: 102px
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color=#000000)";/*IE 8*/
      -moz-box-shadow: 0 0 4px 4px rgba(0,0,0,0.3);/*FF 3.5+*/
      -webkit-box-shadow: 0 0 4px 4px rgba(0,0,0,0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
      box-shadow: 0 0 4px 4px rgba(0,0,0,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#000000); /*IE 5.5-7*/


// first column with picture and item name
.pic-name
  //border: 1px solid red
  img
    display: block
    width: 80px
    margin-left: auto
    margin-right: auto
    margin-top: 20px
  p
    display: inline-block
    text-align: center
    vertical-align: middle
    font-size: 20px
    font-weight: 500
    margin-bottom: 5px



// Tier section
.tier
  display: flex
  flex-direction: column
  align-items: center


  .specialization
    margin-top: 0px
    margin-bottom: 5px
    font-weight: 500

  .tier-1
    //border: 1px solid red
    font-size: 20px
    font-weight: bolder
    margin-top: 25px
    margin-bottom: 0px
    position: relative
    height: 71px
    //    &:after
      position: absolute
      content: ' '
      display: block
      height: 50px
      width: 50px

    background: url("../assets/images/icon_tier1.svg")
    background-repeat: no-repeat
    background-size: 35px
    background-position: 9px 32px


  .tier-2
    font-size: 20px
    font-weight: bolder
    margin-top: 25px
    margin-bottom: 0px
    position: relative
    background: url("../assets/images/icon_tier2.svg")
    background-repeat: repeat-x
    background-size: 26px
    background-position: 0px 32px
    height: 64px
    //&:after
      position: absolute
      content: ' '
      display: block
      height: 50px
      width: 60px
      background: url("../assets/images/icon_tier2.svg")
      background-repeat: repeat-x
      background-size: 30px
      top: 32px
      left: 15%


// rarity section

.rarity
  //border: 1px solid red
  display: flex
  flex-direction: column
  font-size: 20px
  font-weight: 500
  .rare
    margin-bottom: 0px
    color: $rare
  .uncom
    margin-bottom: 0px
    font-size: 18px
    color: $uncommon
  .epic
    margin-bottom: 0px
    color: $epic
  p
    margin-top: 5px
  p:first-child
    margin-top: 23px
    margin-bottom: 0px
  .source
    margin-top: 15px
    margin-bottom: 0px
    line-height: 14px
    font-size: 15px



// stats section
.stats
  display: none
  padding-top: 10px
  //border: 1px solid red
  .stat
    position: relative
    margin: auto
    margin-top: 0px
    width: 70%
    height: 17px
    background-color: rgba($perks, 0.5)
    cursor: default
  .stat-fill
    padding-left: 3px
    text-align: left
    height: 16px
    background-color: $perks
    line-height: 15px
    font-size: 11px
    font-weight: 500
    cursor: pointer
    white-space: nowrap
    &:hover
      background-color: rgba($perks, 0.8)
  .stat-value
    z-index: 1000
    position: absolute
    right: 3px
    top: 0px
    display: inline-block
    margin-left: auto
    line-height: 15px
    font-size: 11px
    font-weight: 500
  div
    &:last-child
      margin-top: 3px
      margin-bottom: 5px
.swords
  .stats
    div
      &:last-child
        display: none

@media (min-width: 992px)
  .stats
    display: block !important


// perks section
.perks
  padding-bottom: 15px
  display: none
  outline: none
  user-select: none
  //border: 1px solid red
  .perks-container
    //border: 1px solid red
    max-width: 200px
    margin: auto
    margin-top: 15px
    display: flex
    flex-direction: row
    justify-content: space-around
    outline: none
    user-select: none
  .perk-clmn
    //border: 1px solid red
    margin: 0px
    margin-right: 0px
    width: 50px
    align-items: center
  .perk-wrap
    position: relative
    width: 35px
    height: 35px
    margin-top: 2px
    padding: 2px 2px
    background-color: $perks
    border-radius: 50%
    &:hover
      background-color: rgba($perks, 0.8)
    .perk-tooltip
      padding: 3px
      font-size: 11px
      position: absolute
      background-color: #eaeaea
      min-width: 150px
      max-width: 200px
      top: 15px
      left: 37px
      z-index: 1000
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color=#000000)";/*IE 8*/
      -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);/*FF 3.5+*/
      -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
      box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
      h5
        font-size: 11px
        font-weight: bold
        width: 100%
  .perk
    position: relative
    width: 30px
    height: 30px
  .5perks
    width: 260px
  .recommended
    &:after
      display: block
      border-radius: 50%
      position: absolute
      top: 0px
      right: -2px
      content: ' '
      height: 9px
      width: 9px
      background-color: $uncommon

@media (min-width: 992px)
  .perks
    display: block !important
    padding-bottom: 0px


// links section
.links
  display: none
  margin-bottom: 15px
  p
    margin-top: 15px
    margin-bottom: 5px
    display: block
    width: 100%
  a
    margin-bottom: 10px
    display: block
    width: 100%
    color: $perks
    text-decoration: underline

@media (min-width: 992px)
  .links
    margin-bottom: 0px
    display: block !important
    //border: 1px solid red
    .description
      margin-top: 15px
      line-height: 15px
      font-size: 12px
      font-weight: 500
    p
      display: block
      width: 100%
    a
      display: block
      width: 100%
      color: $perks
      text-decoration: underline
