.perks, .stats, .links {
  display: none;
}

@media (max-width: 576px) {
  .sn-check, .sn-vid, .sn-desc, .sn-name {
    padding: 0px;
  }
  .sn-vid {
    margin-bottom: 5px;
  }
  .sn-check input {
    margin-top: 5px;
  }
}

@media (min-width: 576px) {
  .perks, .stats, .links {
    display: none;
  }
}

@media (min-width: 768px) {
  .perks, .stats, .links {
    display: none;
  }
}

@media (min-width: 992px) {
  .perks, .stats, .links {
    display: block;
  }
}

@media (min-width: 1200px) {
  .perks, .stats, .links {
    display: block;
  }
}

.node {
  display: block;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
  user-select: none;
  outline: none;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-image: url("../assets/images/icon_sleeper_node_check.png");
  user-select: none;
  outline: none;
  cursor: pointer;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
}

.sn-check, .sn-vid, .sn-desc, .sn-name {
  padding: 10px 0px 10px;
}

.sn-name {
  overflow-wrap: break-word;
}

.sn-desc {
  font-size: 11px;
  line-height: 10px;
}

.sn-vid {
  margin-bottom: 0px;
}

html {
  background-size: 50px;
  background-color: #e1e1e1;
  font-family: "Myriad Pro", sans-serif;
}

body {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  padding-top: 150px;
}

body .first-container {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

body .last-container {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

h3 {
  margin-top: 20px;
}

.navbar {
  margin-bottom: 50px;
}

[class*="col-"] {
  background-color: rgba(0, 0, 0, 0.1);
}

.row p {
  display: inline-block;
  vertical-align: middle;
}

.row div {
  text-align: center;
}

.hidden {
  display: none;
}

.show-switch {
  margin-top: 20px;
  height: 55px;
  background-color: red;
  border: 1px solid black;
}

.gun-search {
  padding-left: 40px;
}

.input-wrap {
  margin-bottom: 45px;
  position: relative;
}

.input-wrap .form-clear-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  left: 9px;
  content: ' ';
  background-image: url("../assets/images/unchecked.png");
  background-size: 25px;
  background-repeat: no-repeat;
  pointer-events: all;
  cursor: pointer;
}

.pic-name img {
  display: block;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.pic-name p {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.tier {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tier .specialization {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 500;
}

.tier .tier-1 {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 0px;
  position: relative;
  height: 71px;
  background: url("../assets/images/icon_tier1.svg");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 9px 32px;
}

.tier .tier-2 {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 0px;
  position: relative;
  background: url("../assets/images/icon_tier2.svg");
  background-repeat: repeat-x;
  background-size: 26px;
  background-position: 0px 32px;
  height: 64px;
}

.rarity {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
}

.rarity .rare {
  margin-bottom: 0px;
  color: #0081ff;
}

.rarity .uncom {
  margin-bottom: 0px;
  font-size: 18px;
  color: #1ea00d;
}

.rarity .epic {
  margin-bottom: 0px;
  color: #bf07ff;
}

.rarity p {
  margin-top: 5px;
}

.rarity p:first-child {
  margin-top: 23px;
  margin-bottom: 0px;
}

.rarity .source {
  margin-top: 15px;
  margin-bottom: 0px;
  line-height: 14px;
  font-size: 15px;
}

.stats {
  padding-top: 10px;
}

.stats .stat {
  position: relative;
  margin: auto;
  margin-top: 0px;
  width: 70%;
  height: 17px;
  background-color: rgba(102, 135, 143, 0.5);
  cursor: default;
}

.stats .stat-fill {
  padding-left: 3px;
  text-align: left;
  height: 16px;
  background-color: #66878f;
  line-height: 15px;
  font-size: 11px;
  font-weight: 500;
  cursor: pointer;
}

.stats .stat-fill:hover {
  background-color: rgba(102, 135, 143, 0.8);
}

.stats .stat-value {
  z-index: 1000;
  position: absolute;
  right: 3px;
  top: 0px;
  display: inline-block;
  margin-left: auto;
  line-height: 15px;
  font-size: 11px;
  font-weight: 500;
}

.stats div:last-child {
  margin-top: 3px;
  margin-bottom: 5px;
}

.swords .stats div:last-child {
  display: none;
}

.perks {
  outline: none;
  user-select: none;
}

.perks .perks-container {
  max-width: 200px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  outline: none;
  user-select: none;
}

.perks .perk-clmn {
  margin: 0px;
  margin-right: 0px;
  width: 50px;
  align-items: center;
}

.perks .perk-wrap {
  position: relative;
  width: 35px;
  height: 35px;
  margin-top: 2px;
  padding: 2px 2px;
  background-color: #66878f;
  border-radius: 50%;
}

.perks .perk-wrap:hover {
  background-color: rgba(102, 135, 143, 0.8);
}

.perks .perk-wrap .perk-tooltip {
  padding: 3px;
  font-size: 11px;
  position: absolute;
  background-color: #eaeaea;
  min-width: 150px;
  max-width: 200px;
  top: 15px;
  left: 37px;
  z-index: 1000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color=#000000)";
  /*IE 8*/
  -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  /*FF 3.5+*/
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.perks .perk-wrap .perk-tooltip h5 {
  font-size: 11px;
  font-weight: bold;
  width: 100%;
}

.perks .perk {
  position: relative;
  width: 30px;
  height: 30px;
}

.perks .5perks {
  width: 260px;
}

.perks .recommended:after {
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: -2px;
  content: ' ';
  height: 9px;
  width: 9px;
  background-color: #1ea00d;
}

.links .description {
  margin-top: 15px;
  line-height: 15px;
  font-size: 12px;
  font-weight: 500;
}

.links a {
  color: #66878f;
  text-decoration: underline;
}
