html
  background-image: url('../assets/images/destiny_logo_vector_tint_30.svg')
  background-size: 50px
  background-color: rgba(225, 225, 225, 1)
  font-family: "Myriad Pro", sans-serif

body
  max-width: 1400px
  margin-left: auto
  margin-right: auto
