// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
.perks, .stats, .links
  display: none

.sn-check, .sn-vid, .sn-desc, .sn-name
  padding: 0px

.sn-vid
  margin-bottom: 5px

.sn-check
  input
    margin-top: 5px

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)
  .perks, .stats, .links
    display: none



// Medium devices (tablets, 768px and up)
@media (min-width: 768px)
  .perks, .stats, .links
    display: none


// Large devices (desktops, 992px and up)
@media (min-width: 992px)
  .perks, .stats, .links
    display: block



// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
  .perks, .stats, .links
    display: block
