.perks, .stats, .links {
  display: none;
}

@media (max-width: 576px) {
  .sn-check, .sn-vid, .sn-desc, .sn-name {
    padding: 0px;
  }
  .sn-vid {
    margin-bottom: 5px;
  }
  .sn-check input {
    margin-top: 5px;
  }
}

@media (min-width: 576px) {
  .perks, .stats, .links {
    display: none;
  }
}

@media (min-width: 768px) {
  .perks, .stats, .links {
    display: none;
  }
}

@media (min-width: 992px) {
  .perks, .stats, .links {
    display: block;
  }
}

@media (min-width: 1200px) {
  .perks, .stats, .links {
    display: block;
  }
}
